.cart {
  position: relative;
  display: block;
  padding: 28px 0 25px 60px;
  text-decoration: none;
  color: @black;
  border-top: 1px solid @gray-border;
  border-bottom: 1px solid @gray-border;

  &:hover {
    color: @black6;
  }

  &:active {
    color: @black3;
  }
}

.cart__form-icon {
  position: absolute;
  left: 24px;
  fill: @black;
  width: 5%;

  &:hover {
    fill: @blue-bacbackground;
  }

  &:active {
    fill: @blue-bacbackground;
    fill-opacity: 30%;
  }
}

@media (min-width: @tablet-width) {
  .cart {
    flex-grow: 1;
    border-top: none;
    border-bottom: none;
    padding-top: 33px;
    padding-left: 81px;
  }

  .cart__form-icon {
    width: 31px;
  }
}

@media (min-width: @desktop-width) {
  .cart {
    width: 75%;
  }
}

