.contacts__title {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
}

.contacts__text {
  line-height: 30px;
  color: @gray;
}

.contacts__link {
  line-height: 30px;
}

.contacts__link--link {
  text-decoration: none;
  color: @gray;
  border-bottom: 1px solid @blue-border;
}

.contacts__button {
  font-size: 18px;
  line-height: 20px;
  border: 2px solid @gray;
  width: 260px;
  height: 52px;
}
