.form-cart {
  font-size: 15px;
  line-height: 30px;
  color: @gray;
  text-align: center;

}

.form-cart__item {
  width: 82px;
  height: 52px;
  border: 2px solid @gray-cart;
  text-align: center;
  padding-top: 11px;

  &:hover {
   border-color: @gray-cart2;
  }

  &:active {
    border-color: @blue-border;
  }
}

.form-cart__fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.form-cart__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 18px;
  padding-bottom: 31px;
  display: flex;
  justify-content: space-around;
}

.form-cart__label {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;

}

.form-cart__button {
  width: 260px;
  font-size: 17px;
  line-height: 16px;
  background-color: @blue-bacbackground;
  border: none;
  color: @white;
  padding: 13px;
  margin-bottom: 46px;
}
