.main-navigation {
  font-size: 17px;
  line-height: 24px;
}
.main-navigation__list a {
  list-style: none;
  text-decoration: none;
  color: @black;
}
.main-navigation__list2 a {
  list-style: none;
  text-decoration: none;
  color: @black;
}
