.map {
  background-image: url("../img/map-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.map iframe {
  width: 100%;
}

@media (min-width: @desktop-width) {
  .map {
    width: 50%;
  }
}
