.news-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.news-list__item p {
  color: @gray;
}

@media (min-width: @tablet-width) {
  .news-list {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .news-list {
    display: block;
    display: flex;
    flex-wrap: wrap;
  }

  .news-list__item {
    padding-top: 18px;
    font-size: 15px;

    &:hover a {
      color: @black6;
    }

    &:active a {
      color: @black3;
    }
  }
}

