.page-footer {
  background-color: @gray-background;
  margin-bottom: 10px;
}

.page-footer__logo {
  display: none;
}

.page-footer__copyright {
  text-align: center;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid @gray-foter-line;
}

.page-footer__container {
  text-align: center;
}

@media (min-width: @tablet-width) {
  .page-footer {
    padding-top: 28px;
    margin-top: 18px;
    padding-bottom: 28px;
  }

  .page-footer__container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .page-footer__logo {
    display: block;
    padding-top: 25px;
    padding-left: 2px;
  }

  .page-footer__logo-img {
    width: 105px;
    height: 35px;
    fill: @black;

    &:hover {
      fill: @emailcolor;
    }

    &:active {
      fill: @emailcolor;
      fill-opacity: 30%;
    }
  }

  .page-footer__copyright {
    border-top: none;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    margin-top: 108px;
    height: 140px;
    padding-bottom: 20px;
  }

  .page-footer__logo {
    padding-top: 20px;
  }
}

