.page {
  height: 100%;
}

.page__title {
  font-size: 27px;
  line-height: 30px;
  margin: 0;
  text-align: center;
  padding-top: 73px;
}

@media (min-width: @tablet-width) {
  .page__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 86px;
  }
}

@media (min-width: @desktop-width) {
  .page__title {
    font-size: 53px;
    line-height: 57px;
    padding-top: 71px;

  }
}

