.product-week {
  margin: 0;
  color: @gray;
}

.product-week__container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.product-week__container--title {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.product-week__container--description {
  width: 100%;
}

.product-week__title {
  font-size: 17px;
  line-height: 20px;
  color: @blue-bacbackground;
  text-transform: uppercase;
  margin: 0;
  order: 2;
  width: 100%;
}

.product-week__subtitle {
  font-size: 25px;
  line-height: 30px;
  color: @black;
  margin: 0;
  width: 100%;
}

.product-week__text {
  font-weight: 400;
  margin: 0;
}

.product-week__table {
  line-height: 20px;
  font-weight: 400;
}

.product-week__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  width: 100%;
}

.product-week__button {
  width: 260px;
  border: 2px solid @gray;
}

@media (min-width: @tablet-width) {
  .product-week__container--title {
    width: @tablet-width;
  }

  .product-week__subtitle {
    width: 70%;
  }

  .product-week__title {
    width: 14%;
  }

  .product-week__container--description {
    width: 50%;
  }

  .product-week__img {
    width: 50%;
  }

  .product-week__price {
    width: 50%;
    padding-left: 0;
  }
}

@media (min-width: @desktop-width) {
  .product-week__container--title {
    width: @desktop-width;
  }

  .product-week__subtitle {
    order: 2;
  }
}
