.reviews {
  display: flex;
  flex-wrap: wrap;
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  margin: 0;
}

.reviews__text {
  line-height: 30px;
  color: @gray;
  margin: 0;
  width: 100%;
}

.reviews__author-name {
  font-size: 17px;
  color: @black;
  font-style: normal;
  font-weight: 700;
  width: 100%;
}

.reviews__author-link {
  font-style: normal;
  font-size: 17px;
  width: 100%;
}

.reviews__write {
  width: 260px;
  border: 2px solid @gray;
  order: 5;
}

.reviews__cotainer--button {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.reviews__button {
  border: 1px solid @gray-line;
  width: 50%;
  height: 26px;
}

@media (min-width: @tablet-width) {
  .reviews {
    background-image: url("../img/review2.jpg");
    background-repeat: no-repeat;
    background-position: left;
  }

  .reviews__write {
    order: 0;
  }

  .reviews__title {
    width: 60%;
  }

  .reviews__author--wrap {
    width: 50%;
  }

  .reviews__cotainer--button {
    width: 50%;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    padding-left: 174px;
    padding-right: 110px;
  }
}
