.reviews {
  background-image: url("../img/review2.jpg");
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
}

.reviews__text {
  line-height: 30px;
  color: @gray;
}

.reviews__author-name {
  font-size: 17px;
  color: @black;
  font-style: normal;
  font-weight: 700;
}

.reviews__author-link {
  font-style: normal;
  font-size: 17px;
}

.reviews__button {
  border: 1px solid @gray-line;
  width: 130px;
  height: 26px;
}
