.selection__container li {
  padding: 23px 36px 32px 39px;
}

.selection__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.selection__item a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: @white;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
}

.selection__item span {
  width: 60%;
  margin-right: auto;
}

.selection__item--fone1 {
  background-color: @blue-bacbackground;
}

.selection__item--fone2 {
  background-color: @dark-blue;
}

@media (min-width: @tablet-width) {
  .selection__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
  }

  .selection__item--fone1 {
    width: 50%;
  }

  .selection__item--fone2 {
    width: 50%;
  }

  .selection__container {
    background-color: @gray-fone;
  }
}

@media (min-width: @desktop-width) {
  .selection__list {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    max-width: @desktop-width;
  }
}
