.selection {
  height: 206px;
}
.selection__list {
  list-style: none;
  padding: 0;
}
.selection__item a {
  text-decoration: none;
  color: @white;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
}
.selection__item--fone1 {
  background-color: @blue-bacbackground;
}
.selection__item--fone2 {
  background-color: @dark-blue;
}
