@black: #000000;
@black-toggle: #231F20;
@black6: rgba(0, 0, 0, 0.6);
@black3:rgba(0, 0, 0, 0.3);
@shadow1: rgba(0, 0, 0, 0.1);
@white: #FFFFFF;
@white3:rgba(255, 255, 255, 0.3);
@gray: #444444;
@gray-cart: #ECECEC;
@gray-fone: #f9f9f9;
@gray-line: #e1e1e1;
@gray-foter-line: #e5e5e5;
@gray-border: #C6C6C6;
@gray-cart2: #C7C7C7;
@cart-shadow: rgba(0, 1, 1, 0.25);
@blue-icon: #149080;
@blue: #63D1BB;
@dark-blue: #56C3B2;
@emailcolor: #46C1AE;
@blue-bacbackground: #63D1BB;
@blue-bg-fone1: #59D5BC;
@blue-border: #62D1BA;
@blue3: rgba(99, 209, 187, 0.3);
@blueicon: rgba(20, 144, 128, 0.5);
@bluicon2: rgba(20, 144, 128, 0.7);
@blueicon3: rgba(20, 144, 128, 0.3);
@gray-line: #ECECEC;
@gray-background: #F1F1F1;
@my-fonts: "Open Sans", "Arial", sans-serif;
@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1150px;
@mobile-width-only:767px;
